@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 3rem 0 0;
  text-align: center;
  margin: 5rem 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  font-family: 'Cormorant Garamond', 'Garamond', 'Baskerville', sans-serif;
}

p {
  line-height: 1.5;
}

section {
  padding: 2rem 1rem 10rem;
  font-size: 1.5rem;
  color: black;
  margin: 0 auto;
  position: relative;
}

section header {
  position: absolute;
  top: -2.5rem;
  padding: 0.25rem;
  text-align: left;
  max-width: max-content;
}

section,
section header {
  box-shadow: 0 -0.5rem 1.5rem -2rem black;
}

section header h2 {
  font-size: 2.5rem;
  margin: 0;
}

section header .byline {
  margin: 0;
  width: max-content;
}

section .section-inner {
  text-align: left;
  gap: 5rem;
}

header {
  position: fixed;
  top: 0;
  padding: 1rem;
  z-index: 1;
  width: 100%;
}
header h1 {
  margin: 0;
}

main header {
  z-index: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
header,
section:nth-of-type(even),
section:nth-of-type(even) header {
  background-color: hsl(60, 53%, 89%);
}

section:nth-of-type(odd),
section:nth-of-type(odd) header {
  background-color: hsl(20, 53%, 89%);
}

section:nth-of-type(even) a {
  color: rgb(187, 122, 0);
}

section:nth-of-type(even) a:hover {
  color: rgb(232, 165, 41);
}

section:nth-of-type(odd) a {
  color: rgb(226, 147, 0);
}

section:nth-of-type(odd) a:hover {
  color: rgb(252, 215, 147);
}

.byline {
  font-style: italic;
}

.line {
  display: inline-block;
  text-indent: -2rem;
  padding-left: 2rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 2rem 0 0;
  }

  section .section-inner {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  section .section-inner {
    grid-template-columns: repeat(1, 1fr);
    max-width: 1500px;
    margin: 0 auto;
  }

  section h2,
  section .section-inner {
    width: max-content;
    margin: 0 auto;
  }
}
